@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';

@theme {
  /* Her tilføjes theme variable // tokens */
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components {
  /* Komponent-specifik stil kan tilføjes her */
}

@layer utilities {
  /* Animation til scrolling */
  @keyframes scrollLoop {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  /* Utility klasse, der bruger animationen */
  .animate-scroll {
    animation: scrollLoop 60s linear infinite;
    display: flex;
    flex-wrap: nowrap;
  }
}
