---
import MainLayout from '../layouts/MainLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { Image } from 'astro:assets';
---

<MainLayout>

    <p class="text-[16px] tracking-[0.02em] text-center mb-10 mt-10">
  <span class="italic">Hjertet er en fold med heste:</span> FORLAGET AMULET, ANNA RIEDER og SIDSEL ANA WELDEN. <br>
  <span class="italic">BIDRAG FRA:</span> Birgit Bundesen, Gry Stokkendahl Dalgas og Fine Gråbøl.
</p>


      <div class="grid md:grid-cols-2 gap-12 mb-10">
        <p class="leading-tight text-justify">
          Hjertet er en fold med heste af Anna Rieder og Sidsel Ana Welden er en stærk og flerstemmig antologi, der med litterært nærvær og personlig indsigt tegner et råt og rørende portræt af psykiatrien i Danmark. Gennem bidrag fra patienter, pårørende og fagfolk foldes psykiatriens mange facetter ud – fra sårbarhed og omsorg til afmagt, modstand og håb om forandring. Med en blanding af essays, digte og personlige beretninger skaber bogen et rum for refleksion og vidnesbyrd, hvor stemmer, der ofte overses i den offentlige debat, får plads. Blandt bidragyderne er Birgit Bundesen, Fine Gråbøl, Jakob Jakobsen og Asta Olivia Nordenhof, der hver især bidrager med deres unikke perspektiver på psykiatriens realiteter og udfordringer.
        </p>
        <p class="leading-tight text-justify">
          Forfatterne, der selv har erfaringer som psykiatribrugere, viderefører med denne bog deres arbejde for ømhedsaktivisme – en bevægelse, der insisterer på større forståelse, respekt og værdighed i behandlingen af psykisk sårbare. Med et skarpt blik for psykiatriens nuværende tilstand peger bogen både på systemets svigt og dets muligheder for forandring. Gennem de personlige fortællinger og litterære bidrag åbner Hjertet er en fold med heste en vigtig samtale om psykiatriens fremtid og behovet for en mere menneskelig tilgang til sårbarhed og behandling.
        </p>
      </div>

      <p class="leading-tight text-justify">
        Ved at købe Hjertet er en fold med heste støtter du en nødvendig samtale om psykiatri og psykisk
        sårbarhed. Bogen kan købes hos din lokale boghandler eller
        <a href="https://www.saxo.com/dk/hjertet-er-en-fold-med-heste_bog_9788797191040?srsltid=AfmBOopayR7kYackqLaHt8j-mKIRXSMR02xrdgIg960nrOj4Rmzs9AsA" class="font-bold underline">her</a>.
      </p>
    </div>
  </section>
</MainLayout>