---
import MainLayout from '../layouts/MainLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { Image } from 'astro:assets';
import pumpkin from "../assets/images/pumpkin.webp";
---

<MainLayout>
  <section class="flex items-center justify-center h-screen text-center relative overflow-hidden">
    <!-- Billede i baggrunden, tilpasset og centrering uden beskæring -->
    <img src={pumpkin.src} alt="pumpkin" class="absolute inset-0 w-full h-full object-contain" />
  </section>
</MainLayout>
