---
import Link from "../components/Link.astro";
---

<footer class="absolute bottom-5 w-full flex justify-end px-5 text-sm text-black">
  <p>For any questions or inquiries on private events please <Link href="/contact" class="font-bold">contact</Link>.</p>
</footer>
