---
import Link from "../components/Link.astro";
---

<footer class="w-full flex justify-end px-5 text-sm text-black mt-12 mb-4">
  <p>
    For any questions or inquiries on private events please 
    <Link href="/contact" class="font-bold">contact</Link>.
  </p>
</footer>

